//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-celeste{
	color:#58C6E7;
}

.text-gray{
	color:#7f8c8d;
}

.text-center{
	text-align:center;
}

.text-white{
	color:#ecf0f1;
}

.text-red{
	color:#FF6A49;
}

.text-yellow{
	color:#fcf07e;
}

.border{
	border-radius: 50%;
}

.center{
	text-align: center;
}

.text-right{
	text-align: right !important;
}

.text-left{
	text-align: left !important;
}

.pull-right{
	float: right !important ;
}

.pull-left{
	float: left !important;
}

.list-unstyled{
	text-decoration: none !important;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

