//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-celeste{
	color:#58C6E7;
}

.text-gray{
	color:#7f8c8d;
}

.text-center{
	text-align:center;
}

.text-white{
	color:#ecf0f1;
}

