* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container, body{
	width: 100%;
	height: 100%;
}
.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}

#home{
  background-image:url(../assets/img/home.png);
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  .principal{
    padding:5%;
  }

  .logo{
    width:32%;
    margin: 0 auto;
    top: 70%;
  }

  .primertexto{
    padding:15%;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    }

  .frase{
    width:80%;
    margin: 0 auto;
    padding: 5px;
  }
}

.principal{
  padding:5%;
}
.fondo{
  width: 100%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: gray;
  background-color: transparent;
  border-color: gray;
  }

.btn-primary {
  color: gray;
  background-color: transparent;
  border-color: gray;
  }

.button.text-center {
  background-color: #FF6A49;
  border-color: #FF6A49;
  color: white;
  padding: 14px;
  border-radius: 20px;
  width: 30%;
  margin: 0 auto;
  }

  

  .flecha {
    position: absolute;
    left: 45%;
    margin: 0 auto;
    top: 90%;
    img {
      border-radius: 50%;
    }

  }

  .frase h4{
    line-height: 1.5;
  }
    
/*Metodologia*/

div#metodologia {
  background-color: azure;
}

  h2.text-center.text-celeste{
  margin: 0 auto;
}

h3.text-center.text-gray {
  margin: 0;
}

@media screen and (max-width: 480px){
  #home {
    background-image: none;
    .logo{
      width: 100%;
      margin: 0;
      img{
        width: 100%;
      }
    }
    .primertexto{
      padding: 0;
      .frase{
        width: 100%;
        margin: 0;
        padding: 0;
      } 
    }
    .button.text-center{
      width: 100%;
    } 
  }
}


.postulantes{
  background-image: url(../assets/img/02.png);
  width: 100%;
  height: 100%;
  .title-postulantes{
    padding: 60px;
  }
}

/*Empresas*/

.empresas{
  width: 100%;
  height: 100%;
    .title-empresas{
      padding: 60px;
      border-bottom: 2px dashed #FF6A49;
      width: 50%;
      margin: 0 auto;
      subtitulo{
        width: 50%;
        margin:0 auto;
        padding: 25px;
    }
  }
}

.imagen-logo {
  margin: 0 auto;
  width: 30%;
  padding: 5%;
}