/*Nosotros*/

#nosotros {
  background: url(../assets/img/nosotros.png); 
  background-repeat:no-repeat;
  height: 65%;
  width: 100%;
  display: table;
  background-size: cover;
  }

.navbar {
  position: relative;
  min-height: 50px;
 margin-bottom: 0; 
  border: 1px solid transparent;
 }
  
 