/*Nosotros*/

#nosotros {
  background: url(../assets/img/nosotros.png); 
  background-repeat:no-repeat;
  height: 65%;
  width: 100%;
  display: table;
  background-size: cover;
  }

.navbar {
  position: relative;
  min-height: 50px;
 margin-bottom: 0; 
  border: 1px solid transparent;
 }
  
 .losfundadores {
  padding: 0 190px;
  }

  hr{
  	color:gray;
  	width: 60%;
  	margin: 0 auto;
  }

  h2.text-center.text-gray {
  	padding: 50px;
  }

  .rojo{
  	background-color: #FF6A49;
  }

  .foco {
  width: 10%;
  margin: 0 auto;
}